<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/indes.css">
    <link rel="stylesheet" href="./../styles/bootstrap/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Hemanth Kumar Rajoli</title>
</head>

<body>
    <div>
        <section class="top-navbar">
            <div class="navbar-heading"><i class="fa-solid fa-code" style="font-size: 1.6rem; color: red;"></i>&nbsp;<h3
                    style="display: inline;">RAJOLI HEMANTH KUMAR</h3>
            </div>
            <div class="navbar-childrens">
                <span class="nav-item">Home</span>
                <span class="nav-item">About</span>
                <span class="nav-item">Skills</span>
                <span class="nav-item">Contact</span>
                <!-- <span>About</span> -->
            </div>
        </section>
        <section id="home-img-container">
            <!-- <img src="./../images/RDJ.jpg" alt="im Hemanth"> -->
            <div class="text-row">
                <div class="name-intro-container">
                    <div class="name-intro">I'm Hemanth, a Full stack developer</div>
                    <p class="name-intro-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
                        ad
                        nulla accusamus explicabo consectetur architecto assumenda nobis nostrum minus rerum!</p>
                </div>
                <div class="aboutme-mywork-container">
                    <div class="about-me-container">
                        <h4><strong>ABOUT ME</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa distinctio corrupti dolor iure
                            ex, ad est vero reiciendis dolore aut numquam aperiam incidunt cum quisquam soluta, qui
                            atque impedit. Asperiores!</p>
                        <br />
                        <a href="#" style="color: white;">KNOW MORE&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                        <hr />
                    </div>

                    <div class="my-work-container">
                        <h4><strong>MY WORK</strong></h4>
                        <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur alias maiores earum,
                            porro sequi natus quas nesciunt nostrum neque, fuga esse distinctio temporibus veritatis
                            corporis cupiditate ad commodi optio aliquid!</P>
                        <br />
                        <a href="#" style="color: white;">KNOW MORE&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                        <hr />
                    </div>
                    <div class="social-network-ids">
                        <h3>SOCIAL NETWORKS</h3>
                        <div class="accounts">
                            <a target="_blank" href="https://www.instagram.com/rajolihemanthkumar/"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/rajoli-hemanth-kumar-137064211/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a target="_blank" href="https://github.com/Hemanth-Kumar-Rajoli"><i
                                    class="fa-brands fa-github-square"></i></a>
                            <a target="_blank" href="https://www.facebook.com/rajoli.kumar"><i
                                    class="fa-brands fa-facebook-square"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <hr style="margin:0 ;" />
        <section class="about-me-section">
            <div class="about-me">
                <div class="skill-intro">
                    <h3><span style="color: red;">/&nbsp;</span>ABOUT ME</h3>
                    <h2>I've been woking with full stack and MERN stack development since 2K20</h2>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quia, mollitia totam fugiat illo
                        magnam earum sint? Cum, officia ducimus voluptate accusamus, laboriosam maxime fugit iste optio
                        ex tempore deleniti!
                    </div>
                </div>
                <div class="work-experience">
                    <div class="experience">
                        <div class="heading">
                            <h2 style="font-size: 4rem; padding-right: 5px;">2</h2>
                            <div>
                                <h5>Years of</h5>
                                <h5>expreience</h5>
                            </div>
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quia, mollitia totam fugiat
                            illo magnam earum sint? Cum, officia ducimus voluptate accusamus, laboriosam maxime fugit
                            iste optio ex tempore deleniti!
                        </div>
                    </div>
                    <div class="projects-expo">
                        <div class="projects-heading">
                            <h2 style="font-size: 4rem; padding-right: 5px;">4</h2>
                            <div>
                                <h5>Successfull</h5>
                                <h5>projects</h5>
                            </div>
                        </div>
                        <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere repudiandae ad fugiat
                            eaque possimus eius optio recusandae quas nam nesciunt ipsa harum quos mollitia earum ea,
                            officia tenetur doloremque delectus.</div>
                    </div>

                </div>
            </div>
        </section>
        <hr style="margin:0 ;" />
        <section class="my-skills-section">
            <div class="my-skills-container">
                <div class="my-skills-tag">
                    <h3><span style="color: red;">/&nbsp;</span>MY SKILLS</h3>
                </div>
                <div class="forward-backward-buttons">
                    <h1 class="skills-header">My extensive skills</h1>
                    <div class="skills-button-group">
                        <button id="less-than">
                            <i class="fa-solid fa-circle-chevron-left" style="font-size: 3rem; color: rgb(153, 153, 247);"></i>
                        </button>
                        <button id="grater-than">
                            <i class="fa-solid fa-circle-chevron-right" style="font-size: 3rem; color: rgb(153, 153, 247);"></i>
                        </button>
                    </div>
                    <div class="skills-card-container">
                        <% for(let i=0;i<skills.length;i++) {%>
                            <%- include('./utils/skillsCard',{skill:skills[i]}) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>