<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/indes.css">
    <link rel="stylesheet" href="./../styles/bootstrap/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Hemanth Kumar Rajoli</title>
</head>

<body>
    <div>
        <section class="top-navbar">
            <div class="navbar-heading"><i class="fa-solid fa-code" style="font-size: 1.6rem; color: red; "></i>&nbsp;
                <h2 style="display: inline;">RAJOLI HEMANTH KUMAR</h2>
            </div>
            <div class="navbar-childrens">
                <a href="#home" class="nav-item"><span>Home</span></a>
                <a href="#about" class="nav-item"><span>About</span></a>
                <a href="#skills" class="nav-item"><span>Skills</span></a>
                <a href="#projects" class="nav-item"><span>Projects</span></a>
                <a href="#contact" class="nav-item"><span>Contact</span></a>
                <!-- <span>About</span> -->
            </div>
        </section>
        <section id="home-img-container">
            <!-- <img src="./../images/RDJ.jpg" alt="im Hemanth"> -->
            <div class="text-row" id="home">
                <div class="name-intro-container">
                    <div class="name-intro">I'm Hemanth, a Full stack developer</div>
                    <p class="name-intro-description">Enthusiastic Computer Science geek and strong knowledge of Java
                        and Python Programming. Constantly looking for new challenges, skill-building and developing a
                        resourceful network.</p>
                </div>
                <div class="aboutme-mywork-container">
                    <div class="about-me-container">
                        <h4><strong>ABOUT ME</strong></h4>
                        <p>Computer science student with 3+ years of coding experience and 2+ years of experience in
                            full-stack development in Node.js. Currently pursuing my B.Tech in MITS in madanapalle.
                            Seeking to leverage algorithm skills, coding skills and leadership abilities.</p>
                        <br />
                        <a href="#about" style="color: white;">KNOW MORE&nbsp;&nbsp;<i
                                class="fa-solid fa-arrow-right"></i></a>
                        <hr />
                    </div>

                    <div class="my-work-container">
                        <h4><strong>MY WORK</strong></h4>
                        <P>Currently working as an Intern in YRT company as a MERN stack developer, To build ERP for
                            educational institutes to manage their resources on period of six months. </P>
                        <br />
                        <a href="#work" style="color: white;">KNOW MORE&nbsp;&nbsp;<i
                                class="fa-solid fa-arrow-right"></i></a>
                        <hr />
                    </div>
                    <div class="social-network-ids">
                        <h3>SOCIAL NETWORKS</h3>
                        <div class="accounts">
                            <a target="_blank" href="https://www.instagram.com/rajolihemanthkumar/"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/rajoli-hemanth-kumar-137064211/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a target="_blank" href="https://github.com/Hemanth-Kumar-Rajoli"><i
                                    class="fa-brands fa-github-square"></i></a>
                            <a target="_blank" href="https://www.facebook.com/rajoli.kumar"><i
                                    class="fa-brands fa-facebook-square"></i></a>
                            <a target="_blank" href="https://wa.me/+918897668913"><i
                                    class="fa-brands fa-whatsapp-square"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <hr style="margin:0 ;" />
        <section class="about-me-section" id="about">
            <div class="about-me">
                <div class="skill-intro">
                    <h3><span style="color: red;">/&nbsp;</span>ABOUT ME</h3>
                    <h2>I've been wroking with full stack and MERN stack development since 2K20</h2>
                    <div>
                        Started as a basic programmer in python, then I did some crazy experiments in python's turtle
                        module. And then slowly started with C and Java and stepped into the crazy field i.e "Data
                        structures". Did some surfing in data-structure there by entered in to my favorite and crazy
                        field Alogorithms. Then started learning full stack-development in Node.js.
                    </div>
                </div>
                <div class="work-experience">
                    <div class="experience">
                        <div class="heading">
                            <h2 style="font-size: 4rem; padding-right: 5px;">2</h2>
                            <div>
                                <h5>Years of</h5>
                                <h5>expreience</h5>
                            </div>
                        </div>
                        <div>
                            with Full stack development on technologies HTML, CSS, JS, Node.JS, Express, EJS, and
                            mongoose drivers to connect with the MongoDB cluster. For fast development of webpages I
                            have been started working with React library.
                        </div>
                    </div>
                    <div class="projects-expo">
                        <div class="projects-heading">
                            <h2 style="font-size: 4rem; padding-right: 5px;">4</h2>
                            <div>
                                <h5>Successful</h5>
                                <h5>projects</h5>
                            </div>
                        </div>
                        <div>on full-stack and python. And did mini projects like a basic chat room applicatoin using
                            socket.io, and a To-Do list to organize our daily tasks and games in python using turtle
                            library. The major projects are chai-chat, smart attendance, virtual-pen, and ERP for
                            educational institutes is running. </div>
                    </div>

                </div>
            </div>
        </section>
        <hr style="margin:0 ;" />
        <section class="my-skills-section" id="skills">
            <div class="my-skills-container">
                <div class="my-skills-tag">
                    <h3><span style="color: red;">/&nbsp;</span>MY SKILLS</h3>
                </div>
                <div class="forward-backward-buttons">
                    <h4 class="skills-header">My extensive skills</h4>
                    <div class="skills-button-group">
                        <button id="backward">
                            <i class="fa-solid fa-circle-chevron-left"
                                style="font-size: 3rem; color: rgb(153, 153, 247);"></i>
                        </button>
                        <button id="forward">
                            <i class="fa-solid fa-circle-chevron-right"
                                style="font-size: 3rem; color: rgb(153, 153, 247);"></i>
                        </button>
                    </div>
                    <div id="skills-card-container" data-total-skills=<%=skills.length %> >
                        <% for(let i=0;i<skills.length;i++) {%>
                            <%- include('./utils/skillsCard',{skill:skills[i],description:descriptions[skills[i]],itemNo:i})
                                %>
                                <% } %>
                    </div>
                    <div class="skills-button-group-2">
                        <button id="backward-2">

                            <i class="fa-solid fa-chevron-left" style="font-size: 3rem; color: #007bff; "></i>
                        </button>
                        <button id="forward-2">
                            <i class="fa-solid fa-chevron-right" style="font-size: 3rem; color: #007bff"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <hr style="margin:0 ;" />
        <section class="my-projects-section" id="projects">
            <div class="my-projects-container" style="padding-top: 20px;">
                <div class="my-projects-tag">
                    <h3><span style="color: red;">/&nbsp;</span>MY PROJECTS</h3>
                </div>
                <div class="side-heading">
                    <h4>My exiting projects</h4>
                </div>
                <div class="list-of-projects-container">
                    <div class="project">
                        <div class="project-preview-image">
                            <img src="../images/chaichat.png" alt="">
                        </div>
                        <div class="project-title">
                            <h2>CHAI CHAT <a href="https://chai-chat.herokuapp.com" target="_blank"><i
                                        class="fa-solid fa-up-right-from-square" style="font-size: 1.3rem;"></i></a>
                            </h2>
                            <div class="line-bar"></div>
                        </div>
                        <div class="project-overview">
                            <!-- <stron> -->
                            <p style="color: #c3cad5; font-weight: 400;">
                                Have you questioned yourself, how do all these social networks work? I did, and this let
                                me develop chai-chat. This application allows users to search and seek their friends by
                                their names. Upon accepting the requests they can perform virtual communication.</p>
                            <!-- </stron> -->
                        </div>
                        <div class="project-team-members">
                            <h3>Team members</h3>
                            <div class="line-bar"></div>
                            <ul style="margin-top: 3px; color: #c3cad5;">
                                <li>Hemanth Kumar</li>
                            </ul>
                        </div>
                        <div class="project-skills-used">
                            <div class="horizontal-line" style="margin-bottom: 30px; margin-left: 0px;"></div>
                            <div class="row">
                                <h5 class="title-lang col-md-4 col-sm-12"
                                    style="display: flex; justify-content: center; align-items: center;">Skills used
                                </h5>
                                <div class="list-skills col-md-8 row" style="justify-content: center;">
                                    <h3 style="text-align: center;" class="col-5 col-md-2">HTML&nbsp;<i
                                            class="fa-brands fa-html5"></i></h3>
                                    <h3 style="text-align: center;" class="col-5 col-md-2">Css&nbsp;<i
                                            class="fa-brands fa-css3"></i></h3>
                                    <h3 style="text-align: center;" class="col-5 col-md-2">JS&nbsp;<i
                                            class="fa-brands fa-js"></i></h3>
                                    <h3 style="text-align: center;" class="col-5 col-md-3">Node.js&nbsp;<i
                                            class="fa-brands fa-node-js"></i></h3>
                                    <h3 style="text-align: center;" class="col-5 col-md-3">Mongodb&nbsp;<i
                                            class="fa-solid fa-database"></i></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project" style="margin-top: 10px;">
                        <div class="project-preview-image">
                            <img src="../images/smartattendance.png" alt="">
                        </div>
                        <div class="project-title">
                            <h2>Smart Attendance</h2>
                            <div class="line-bar"></div>
                        </div>
                        <div class="project-overview">
                            <!-- <stron> -->
                            <p style="color: #c3cad5; font-weight: 400;">The main aim of SMART ATTENDANCE SYSTEM project
                                is to record the Attendance based on Face Recognition. In this project we are using
                                ystems camera for attendance based on face which is stored in trained data-set
                                module itself so that only authorized person will attendance to this system .</p>
                            <!-- </stron> -->
                        </div>
                        <div class="project-team-members">
                            <h3>Team members</h3>
                            <div class="line-bar"></div>
                            <ul style="margin-top: 3px; color: #c3cad5;">
                                <li>Hemanth Kumar</li>
                                <li> Abdul Gani Baig</li>
                                <li>Suhail</li>
                                <li>Bramatha</li>
                                <li>Keerthana</li>
                                <li>Rakshitha</li>
                            </ul>
                        </div>
                        <div class="project-skills-used">
                            <div class="horizontal-line" style="margin-bottom: 30px; margin-left: 0px;"></div>
                            <div class="row">
                                <h5 class="title-lang col-md-4 col-sm-12"
                                    style="display: flex; justify-content: center; align-items: center;">Skills used
                                </h5>
                                <div class="list-skills col-md-8 row" style="justify-content: center;">
                                    <h3 style="text-align: center;" class="col-5 col-md-3">OpenCV</h3>
                                    <h3 style="text-align: center;" class="col-5 col-md-3">kivyMD</h3>
                                    <h3 style="text-align: center;" class="col-5 col-md-3">python&nbsp;<i
                                            class="fa-brands fa-python"></i></h3>
                                    <h3 style="text-align: center;" class="col-5 col-md-3">SqlLite&nbsp;<i
                                            class="fa-solid fa-database"></i></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project" style="margin-top: 10px;">
                        <div class="project-preview-image">
                            <img src="../images/virtualPen.jpg" alt="">
                        </div>
                        <div class="project-title">
                            <h2>Virtual Pen</h2>
                            <div class="line-bar"></div>
                        </div>
                        <div class="project-overview">
                            <!-- <stron> -->
                            <p style="color: #c3cad5; font-weight: 400;">This project uses OpenCV in python to
                                draw on the screen using a virtual pen i.e, any marker can be used to draw/erase using
                                the technique of contour detection based on the mask of the desired colored target
                                marker. Note: Make sure the target maker color is not present in the background to avoid
                                error.</p>
                            <!-- </stron> -->
                        </div>
                        <div class="project-team-members">
                            <h3>Team members</h3>
                            <div class="line-bar"></div>
                            <ul style="margin-top: 3px; color: #c3cad5;">
                                <li>Hemanth Kumar</li>
                            </ul>
                        </div>
                        <div class="project-skills-used">
                            <div class="horizontal-line" style="margin-bottom: 30px; margin-left: 0px;"></div>
                            <div class="row">
                                <h5 class="title-lang col-md-4 col-sm-12"
                                    style="display: flex; justify-content: center; align-items: center;">Skills used
                                </h5>
                                <div class="list-skills col-md-8 row" style="justify-content: center;">
                                    <h3 style="text-align: center;" class="col-5 col-md-6">OpenCV</h3>
                                    <h3 style="text-align: center;" class="col-5 col-md-6">python&nbsp;<i
                                            class="fa-brands fa-python"></i></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin:0 ;" />
        </section>
        <section class="my-experience-section" id="work">
            <div class="my-experience-container">
                <div class="my-experience-tag">
                    <h3><span style="color: red;">/&nbsp;</span>MY EXPERIENCE</h3>
                </div>

                <ul class="comapany-names-container" style="list-style-type: none;">
                    <li class="company">
                        <div class="company-name">
                            <h2 style="display: inline-block ;">YES REAL TECHNOLOGIES pvt.Limted</h2>&nbsp;
                            <sub
                                style="border: 1px solid greenyellow; border-radius: 5px; padding-left: 2px; padding-right: 2px;">02/2022
                                - 08/2022</sub>
                            <sub
                                style="border: 1px solid rgb(0, 251, 255); border-radius: 5px; padding-left: 2px; padding-right: 2px;">intern</sub>
                        </div>
                        <div class="my-contract-details" style="float: right;">
                            <p>-MERN STACK DEVELOPER</p>
                        </div>
                        <div class="description">
                            <br>
                            I have joined as an intern in this company as a MERN stack developer. The moto of this
                            internship is to build an ERP-based application, for colleges, schools, and other
                            educational institutes to manage their resources effectively from single web application.
                        </div>
                    </li>
                </ul>

            </div>
        </section>
        <hr style="margin:0 ;" />
        <section class="contact-me-section" id="contact">
            <div class="contact-me-container row">
                <div class="main-info col-md-6 col-12">
                    <div class="image-and-name">
                        <div class="image" style="width: fit-content; display: inline-block;">
                            <img src="../images/RDJ.jpg" alt="i'm hemanth"
                                style="border-radius: 100px; width: 200px; height: 200px;">
                        </div>
                        <div class="name" style="height: auto; display: inline-flex; flex-direction: column;">
                            <h3>Hemanth Kumar</h3>
                            <p style="color:#bcbcbc;">Full stack developer</p>
                            <div class="social-network-ids" style="padding-top: 5px;">
                                <div class="accounts">
                                    <a target="_blank" href="https://www.instagram.com/rajolihemanthkumar/"><i
                                            class="fa-brands fa-instagram"></i></a>
                                    <a target="_blank"
                                        href="https://www.linkedin.com/in/rajoli-hemanth-kumar-137064211/"><i
                                            class="fa-brands fa-linkedin"></i></a>
                                    <a target="_blank" href="https://github.com/Hemanth-Kumar-Rajoli"><i
                                            class="fa-brands fa-github-square"></i></a>
                                    <a target="_blank" href="https://www.facebook.com/rajoli.kumar"><i
                                            class="fa-brands fa-facebook-square"></i></a>
                                    <a target="_blank" href="https://wa.me/+918897668913"><i
                                            class="fa-brands fa-whatsapp-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="email-and-phone-number col-md-6 col-12"
                    style="display: flex; flex-direction: column; justify-content: center;">
                    <div class="get-intouch-heading" style="padding-top: 5px; padding-bottom: 5px;">
                        <h2>GET IN TOUCH &nbsp;<i class="fa-solid fa-arrow-right" style="color: rgb(65, 130, 242);"></i>
                        </h2>
                    </div>
                    <div class="email-phone row">
                        <div class="email col" style="display: flex; flex-direction: column;">
                            <h3 style="text-align: start;">Email me</h3>
                            <a style="width: 100%; text-align: start; color: white; text-decoration: none;"
                                href="mailto:hemanthkumarrajoli@gmail.com">hemanthkumarrajoli@gmail.com <i
                                    class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                        <div class="phone col" style="display: flex; flex-direction: column;">
                            <h3 style="text-align: start;">Contact me</h3>
                            <a href="tel:+918897668913"
                                style="width: 100%; text-align: start; color: white; text-decoration: none;">+91
                                8897668913 <i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </div>
</body>
<script src="../scripts/index.js"></script>

</html>