<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/indes.css">
    <link rel="stylesheet" href="./../styles/bootstrap/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hemanth Kumar Rajoli</title>
</head>

<body>
    <div id="home-img-container">
        <img src="./../images/RDJ.jpg" alt="im Hemanth">
        <div class="text-row">
            <div class="name-intro-container" >
                <div class="name-intro">I'm Hemanth, a Full stack developer</div>
                <p class="name-intro-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
                    ad
                    nulla accusamus explicabo consectetur architecto assumenda nobis nostrum minus rerum!</p>
            </div>
            <div class="aboutme-mywork-container" >
                <div class="about-me-container">
                    <h4><strong>ABOUT ME</strong></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa distinctio corrupti dolor iure ex, ad est vero reiciendis dolore aut numquam aperiam incidunt cum quisquam soluta, qui atque impedit. Asperiores!</p>
                    <br/>
                    <a href="#" style="color: white;">KNOW MORE&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                    <hr/>
                </div>
                
                <div class="my-work-container">
                    <h4><strong>MY WORK</strong></h4>
                    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur alias maiores earum, porro sequi natus quas nesciunt nostrum neque, fuga esse distinctio temporibus veritatis corporis cupiditate ad commodi optio aliquid!</P>
                    <br/>
                    <a href="#" style="color: white;">KNOW MORE&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>