<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/bootstrap/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Hemanth Kumar Rajoli</title>
</head>
<body>
    <section class="thankyou-section" style="text-align: center; background-color: black; height: 100vh; color: white; display: flex; flex-direction: column; justify-content: center;">
        <img src="../images/hankShakeBlack.gif" style="align-self: center;" alt="">
        <div class="greeting">
            
            <h2>Your message will shortly reaches me. I'll get back to you soon</h2>
            <h3>Thank You</h3>
        </div>
        <div class="go-back-page">
            <!-- <button class="btn btn-success"></button> -->
            <a href="/" class="btn btn-success"><i class="fa-solid fa-arrow-left"></i>&nbsp;Go Back</a>
        </div>
    </section>
</body>
</html>