
a.nav-item{
    text-decoration: none;
    color: white;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
#home-img-container {
    /* height: 100vh;
    width: 100vw; */
    background-color: black;
    background-image: url('../images/hemanth.png');
    background-repeat: no-repeat;
    /* background-position: 25vw; */
    color: white;
}

.top-navbar {
    padding-top: 5px;
    width: 100vw;
    position: fixed;
    color: white;
    align-items: center;
    z-index: 10;
    background-color: black;
}

.line-bar {
    width: 50px;
    height: 3px;
    background-color: #5d6c83;
}

.navbar-heading,
.skills-header {
    display: inline-block;
    margin-left: 20px;
}

.navbar-childrens,
.skills-button-group {
    float: right;
    /* padding-right: 10px; */
}
.navbar-childrens>a:hover{
    color: rgb(197, 197, 197);
}
.navbar-childrens>.nav-item {
    padding: 10px;
}

.name-intro {
    font-size: xx-large;
    font-family: 'Lobster', cursive;
}

.social-network-ids>.accounts {
    width: 100%;

}

.social-network-ids>.accounts>a {
    text-decoration: none;
    color: white;
}

.social-network-ids>.accounts>a>i {
    font-size: 1.7rem;
    margin-right: 20px;
}
.message-me-section{
    height: 100vh;
    background-color: black;
    color: white;
}

@media screen and (min-width:500px) {
    /* .message-me-container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .navbar-childrens{
        padding-right: 14px;
    }
    .section-intro{
        /* display: flex; */
        padding-top: 180px;
        text-align: center;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .collect-information-form{
        height: 100vh;
        /* width: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-row {
        display: flex;
        flex-direction: row;
    }
    #home-img-container {
        background-position: 25vw;
    }
    .name-intro-container {
        padding: 100px;
    }

    .aboutme-mywork-container {
        padding-left: 150px;
    }

    .name-intro-container,
    .aboutme-mywork-container,
    .skill-intro,
    .work-experience {
        min-height: 100vh;
        max-height: fit-content;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .about-me {
        height: 100vh;
        display: flex;
        background-color: black;
        color: white;
    }

    .skill-intro>h2 {
        padding-left: 100px;
        padding-right: 100px;
        font-family: 'Lobster', cursive;

    }

    .skill-intro>div,
    .forward-backward-buttons,
    .my-projects-container {
        padding-left: 100px;
        padding-right: 100px;

    }
    .skill-intro>h3,
    .my-skills-tag>h3 {
        padding-left: 100px;
        padding-bottom: 10px;
        /* font-family: 'Lobster', cursive; */
    }

    .my-skills-container {
        padding-top: 100px;
    }

    .my-experience-container {
        padding-left: 100px;
        padding-top: 20px;
    }

    .contact-me-container {
        padding-left: 100px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .work-experience>.experience,
    .work-experience>.projects-expo {
        /* height: 100vh; */
        /* width: fit-content; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25vw;
    }
    .work-experience {
        display: flex;
        flex-direction: row;
    }
    .skills-button-group-2{
        display: none;
    }
    .skills-card{
        display: flex;
    }
    .padding-right-max{
        padding-right: 10px ;
    }
    .padding-right-max-max{
        padding-right: 20px ;
    }
}

@media screen and (max-width:500px) {
    .message-me-container{
        height: 100vh;
        /* width: 100vw; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 50px; */
    }
    .padding-left-right{
        padding-left: 10px;
        padding-bottom: 10px;
    }
    #home-img-container {
        background-position: -100px;
    }
    .text-row {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .my-skills-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .skills-button-group{
        display: none;
    }
    .skills-button-group-2{
        /* margin-top: 20px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: -200px;
        background-color: unset !important;
    }
    .skills-button-group-2>button{
        outline: none;
        border: none;
        margin-right: 0 !important;
    }
    .skills-button-group-2>button:hover{
        border: 2px solid #007bff;
    }
    .skills-card{
        display: none;
        margin-left: 0px !important;
    }
    .skills-card-hide{
        display: flex;
        
    }
}

.about-me,
.my-experience-section {
    height: 100vh;
    background-color: black;
    color: white;
}

.skill-intro>h2 {
    font-family: 'Lobster', cursive;

}

.work-experience>.experience>.heading,
.work-experience>.projects-expo>.projects-heading {

    display: flex;
    align-items: center;
}

.work-experience>.experience>.heading>div>h5,
.work-experience>.projects-expo>.projects-heading>div>h5 {
    margin: 0;
}



.my-skills-container {
    height: 100vh;
    background-color: black;
    color: white;
    overflow-x: hidden;

}

.my-projects-section {
    height: fit-content;
    background-color: black;
    color: white;
}

.skills-button-group>button,.skills-button-group-2>button {

    background-color: black;
    text-align: center;
    margin-right: 30px;
    color: white;
}


.skills-button-group>button>h3 {
    border-radius: 50px;
    margin: 0;
}

.skills-card {
    background-color: rgb(45, 52, 63);
    border-radius: 20px;
    height: 400px;
    min-width: 300px;
    max-width: 300px;
    margin-left: 10px;
    
    flex-direction: column;
    justify-content: center;
    
}

#skills-card-container {
    margin-top: 20px;
    display: flex;
    position: relative;
    /* left: 300px; */
    right: 0px;
    margin-left: 40px;
    transition: right 1s;
}

.card-image {
    /* height: 30%; */
    padding-left: 5px;
    /* background-color: blue; */
    /* display: flex; */
    /* justify-content: end; */
    align-items: flex-end;
}

.card-title {
    margin-top: 10px;
    
    /* background-color: green; */
}

.card-title>h2 {
    margin-left: 5px;
}

.card-info {
    margin-top: 10px;
    /* background-color: pink; */
}

.card-image>.icon>.fa-brands,
.card-image>.icon>.fa-solid {
    font-size: 4rem;
}

.list-of-projects-container>.project {
    width: calc(100vw-200px);
    height: calc(fit-content);

    padding-bottom: 250px;
    background-color: rgba(45, 52, 63, 0.4);
    position: relative;
    overflow: hidden;
    border-radius: 0px 30px 30px;
}

@media screen and (min-width:770px) {
    .list-of-projects-container>.project {
        padding-bottom: 150px;
    }
}

.project-preview-image>img {
    width: 150%;
    margin-left: 50%;
    position: absolute;
    bottom: 0px;
    transform: rotate(-40deg);
    transform-origin: bottom center;
    opacity: 0.6;
    /* height: 50vw; */
    /* object-fit: cover; */
}

.project-title {
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.project-skills-used {
    margin-left: 20px;
    margin-bottom: 20px;
}

.project-overview {
    margin-left: 20px;
    position: relative;
    /* z-index: 1; */
}

.project-skills-used {
    position: relative;
    margin-top: 40px;
    /* color: rgb(50, 50, 58); */
}

.project-link,
.project-team-members {
    margin-left: 20px;
}

.horizontal-line {
    width: 95%;
    height: 2px;
    margin: 2px auto;
    background-color: #5d6c83;
}

.project-skills-used {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.my-experience-section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.contact-me-section {
    background-color: black;
    color: white;
    /* width: 100vw; */
    margin: 0;
    overflow: hidden;
}
.input-name-container,.input-email-container{
    position: relative;
}

.input-name-container>i,.input-email-container>i{
    position:absolute;
    top: 10px;
    left: 5px;
    color: black;
}
.input-name-container>input,.input-email-container>input,.subject-section>input{
    padding-left: 25px;
}