<div class="skills-card" style="padding: 10px;" data-item-no=<%= itemNo %>>
    <div class="card-image ">
        <div class="icon">
            <% if(skill.toLowerCase()=="html" ){ %>
                <i class="fa-brands fa-html5"></i>
            <% }else if(skill.toLowerCase()=="java"){ %> 
                <i class="fa-brands fa-java"></i>
            <% }else if(skill.toLowerCase()=="python"){ %> 
                <i class="fa-brands fa-python"></i>
            <% }else if(skill.toLowerCase()=="js"){ %> 
                <i class="fa-brands fa-js"></i>
            <% }else if(skill.toLowerCase()=="css"){ %> 
                <i class="fa-brands fa-css3"></i>
            <% }else if(skill.toLowerCase()=="react"){ %>
                <i class="fa-brands fa-react"></i>
            <% }else if(skill.toLowerCase()=="node.js"){ %>
                <i class="fa-brands fa-node-js"></i>
            <% }else if(skill.toLowerCase()=="mysql"){ %>
                <i class="fa-solid fa-database"></i>
            <% }else{ %> 
                <i class="fa-solid fa-code"></i>
            <% } %> 
        </div>
    </div>
    <div class="card-title">
        <h2><%= skill[0].toUpperCase()+skill.toLowerCase().slice(1) %></h2>
    </div>
    <div class="card-info"><%= description %></div>
</div>